::-webkit-scrollbar-thumb {
  background: #ccc;
  border: 1px solid #bfbfbf;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-left: 1px solid #ddd;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
