$logo-width: $toolbar-height / 2.1;

.toolbar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: $toolbar-height;
  background-color: #333333;
  display: flex;
  box-shadow: black 8px 0px 2px;

  .logo {
    width: $toolbar-vertical-width;
    margin-left: 12px;
    margin-top: 8px;
    margin-right: -11px;

    img {
      width: $logo-width;
    }
  }

  .items {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .project-description {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .title {
        color: #dcdada;
      }

      .description {
        margin-left: 3px;
        color: #dcdada;
      }
    }

    .close {
      background-color: transparent;
      border: transparent;
      position: absolute;
      right: $toolbar-height / 3;
      top: 0px;
      width: $toolbar-height;
      height: $toolbar-height;
      opacity: 0.3;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:before,
      &:after {
        position: absolute;
        left: $toolbar-height / 2;
        top: 9px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #b2b2ba;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
