.toolbar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: $toolbar-height;
  border-bottom: 1px solid;
  border-bottom-color: #1a1a1c;
  background-color: #2e2f34;
  display: flex;
  box-shadow: black 10px 0px 2px;

  .logo {
    width: 63px;
    margin-left: 12px;
    margin-top: 8px;
    margin-right: -11px;

    img {
      width: 30px;
    }
  }

  .items {
    display: flex;
    justify-content: space-between;

    .project-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        color: #fff;
        font-size: 24px;
      }
    }

    .close {
      background-color: transparent;
      border: transparent;
      position: absolute;
      right: 8px;
      top: 7px;
      width: 55px;
      height: 38px;
      opacity: 0.3;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:before,
      &:after {
        position: absolute;
        left: 25px;
        top: 7px;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #b2b2ba;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
