//****** Colors *******//
$body-color: #3c3c44;
$minimap-color: #39383e;
$border-color: #1a1a1c;
$input-border-color: #9c9c9c;
$tools-color: rgba(255, 255, 255, 0.4);
$tooltip-color: #555;

$primary: #ffffeb;
$primary-light: #f9f9f3;
$primary-dark: #f1f1c0;

//****** Shadows *******//
$sm-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
$md-shadow: 2px 2px 3px #666 !important;

// ***** Heights **** //
$toolbar-height: 35px;
$toolbar-vertical-width: 53px;
